# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./Resources/applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ["EIN","NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.columns)[0:8]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])
encoded_data

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
                          columns = enc.get_feature_names_out(categorical_variables)
                         )

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df.filter(["ASK_AMT"])], axis = 1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = applicant_data_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [39]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.copy()

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit (X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Review the number of features
number_input_features

117

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 30

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

30

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  20

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

20

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units = hidden_nodes_layer1, activation = "relu", input_dim = number_input_features))

In [20]:
# Add the second hidden layer
nn.add(Dense(units = hidden_nodes_layer2, activation = "relu", input_dim = number_input_features))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units = number_output_neurons, activation = "sigmoid"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                3540

 dense_1 (Dense)             (None, 20)                620

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 4,181
Trainable params: 4,181
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics =["accuracy"])

In [24]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 1s 873us/step - loss: 0.5816 - accuracy: 0.7170
Epoch 2/50
804/804 [==============================] - 1s 858us/step - loss: 0.5543 - accuracy: 0.7289
Epoch 3/50
804/804 [==============================] - 1s 864us/step - loss: 0.5500 - accuracy: 0.7292
Epoch 4/50
804/804 [==============================] - 1s 848us/step - loss: 0.5476 - accuracy: 0.7302
Epoch 5/50
804/804 [==============================] - 1s 845us/step - loss: 0.5464 - accuracy: 0.7310
Epoch 6/50
804/804 [==============================] - 1s 845us/step - loss: 0.5453 - accuracy: 0.7323
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 8/50
804/804 [==============================] - 1s 870us/step - loss: 0.5439 - accuracy: 0.7326
Epoch 9/50
804/804 [==============================] - 1s 954us/step - loss: 0.5423 - accuracy: 0.7345
Epoch 10/50
804/804 [==============================] - 1s 861us/step - loss: 0.5428 - accuracy: 0.7350
Epoch 11/50
804/804 [==============================] - 1s 830us/step - loss: 0.5416 - accuracy: 0.7355
Epoch 12/50
804/804 [==============================] - 1s 838us/step - loss: 0.5415 - accuracy: 0.7349
Epoch 13/50
804/804 [==============================] - 1s 822us/step - loss: 0.5402 - accuracy: 0.7360
Epoch 14/50
804/804 [==============================] - 1s 818us/step - loss: 0.5407 - accuracy: 0.7351
Epoch 15/50
804/804 [==============================] - 1s 829us/step - loss: 0.5396 - accuracy: 0.7362
Epoch 16/50
804/804 [==============================] - 1s 786us/step - loss: 0.5400 - accuracy: 0.7357
Epoch 17/50
804/804 [==============================] - 1s 842us/step - loss: 0.5395 - accuracy: 0.7353
Epoch 18/50
804/804 [==============================] - 1s 809us/step - loss: 0.5390 - accuracy: 0.7363
Epoch 19/50
804/804 [==============================] - 1s 837us/step - loss: 0.5390 - accuracy: 0.7364
Epoch 20/50
804/804 [==============================] - 1s 817us/step - loss: 0.5387 - accuracy: 0.7370
Epoch 21/50
804/804 [==============================] - 1s 906us/step - loss: 0.5385 - accuracy: 0.7366
Epoch 22/50
804/804 [==============================] - 1s 829us/step - loss: 0.5379 - accuracy: 0.7378
Epoch 23/50
804/804 [==============================] - 1s 807us/step - loss: 0.5375 - accuracy: 0.7365
Epoch 24/50
804/804 [==============================] - 1s 798us/step - loss: 0.5377 - accuracy: 0.7368
Epoch 25/50
804/804 [==============================] - 1s 829us/step - loss: 0.5373 - accuracy: 0.7381
Epoch 26/50
804/804 [==============================] - 1s 847us/step - loss: 0.5372 - accuracy: 0.7383
Epoch 27/50
804/804 [==============================] - 1s 860us/step - loss: 0.5376 - accuracy: 0.7371
Epoch 28/50
804/804 [==============================] - 1s 872us/step - loss: 0.5364 - accuracy: 0.7378
Epoch 29/50
804/804 [==============================] - 1s 856us/step - loss: 0.5369 - accuracy: 0.7380
Epoch 30/50
804/804 [==============================] - 1s 856us/step - loss: 0.5367 - accuracy: 0.7383
Epoch 31/50
804/804 [==============================] - 1s 860us/step - loss: 0.5361 - accuracy: 0.7389
Epoch 32/50
804/804 [==============================] - 1s 864us/step - loss: 0.5358 - accuracy: 0.7379
Epoch 33/50
804/804 [==============================] - 1s 829us/step - loss: 0.5359 - accuracy: 0.7376
Epoch 34/50
804/804 [==============================] - 1s 860us/step - loss: 0.5361 - accuracy: 0.7378
Epoch 35/50
804/804 [==============================] - 1s 855us/step - loss: 0.5358 - accuracy: 0.7391
Epoch 36/50
804/804 [==============================] - 1s 861us/step - loss: 0.5357 - accuracy: 0.7381
Epoch 37/50
804/804 [==============================] - 1s 900us/step - loss: 0.5354 - accuracy: 0.7387
Epoch 38/50
804/804 [==============================] - 1s 848us/step - loss: 0.5351 - accuracy: 0.7392
Epoch 39/50
804/804 [==============================] - 1s 904us/step - loss: 0.5350 - accuracy: 0.7378
Epoch 40/50
804/804 [==============================] - 1s 815us/step - loss: 0.5348 - accuracy: 0.7397
Epoch 41/50
804/804 [==============================] - 1s 881us/step - loss: 0.5354 - accuracy: 0.7381
Epoch 42/50
804/804 [==============================] - 1s 962us/step - loss: 0.5346 - accuracy: 0.7394
Epoch 43/50
804/804 [==============================] - 1s 870us/step - loss: 0.5346 - accuracy: 0.7384
Epoch 44/50
804/804 [==============================] - 1s 802us/step - loss: 0.5344 - accuracy: 0.7395
Epoch 45/50
804/804 [==============================] - 1s 840us/step - loss: 0.5342 - accuracy: 0.7385
Epoch 46/50
804/804 [==============================] - 1s 835us/step - loss: 0.5340 - accuracy: 0.7393
Epoch 47/50
804/804 [==============================] - 1s 849us/step - loss: 0.5337 - accuracy: 0.7397
Epoch 48/50
804/804 [==============================] - 1s 859us/step - loss: 0.5336 - accuracy: 0.7394
Epoch 49/50
804/804 [==============================] - 1s 855us/step - loss: 0.5332 - accuracy: 0.7404
Epoch 50/50
804/804 [==============================] - 1s 852us/step - loss: 0.5337 - accuracy: 0.7397

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5573 - accuracy: 0.7248 - 234ms/epoch - 873us/step
Loss: 0.5573314428329468, Accuracy: 0.724781334400177

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

SyntaxError: invalid syntax (733575641.py, line 2)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

117

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 60

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

60

In [30]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 40

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

40

In [31]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer3_A1 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A1

20

In [32]:
# Create the Sequential model instance
nn_A1 =  Sequential()

In [33]:
# First hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer1_A1, activation = "relu", input_dim = number_input_features))

# Second hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer2_A1, activation = "relu", input_dim = number_input_features))

# third hidden layer
nn_A1.add(Dense(units = hidden_nodes_layer3_A1, activation = "relu", input_dim = number_input_features))

# Output layer
nn_A1.add(Dense(units = number_output_neurons_A1, activation = "sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 60)                7080

 dense_4 (Dense)             (None, 40)                2440

 dense_5 (Dense)             (None, 20)                820

 dense_6 (Dense)             (None, 1)                 21

=================================================================
Total params: 10,361
Trainable params: 10,361
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the Sequential model
nn_A1.compile(loss = "binary_crossentropy", optimizer = "adam", metrics =["accuracy"])

In [35]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs = 35)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5747 - accuracy: 0.7194
Epoch 2/50
804/804 [==============================] - 1s 931us/step - loss: 0.5525 - accuracy: 0.7306
Epoch 3/50
804/804 [==============================] - 1s 951us/step - loss: 0.5492 - accuracy: 0.7320
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7321
Epoch 5/50
804/804 [==============================] - 1s 974us/step - loss: 0.5455 - accuracy: 0.7327
Epoch 6/50
804/804 [==============================] - 1s 981us/step - loss: 0.5443 - accuracy: 0.7339
Epoch 7/50
804/804 [==============================] - 1s 964us/step - loss: 0.5439 - accuracy: 0.7337
Epoch 8/50
804/804 [==============================] - 1s 958us/step - loss: 0.5423 - accuracy: 0.7341
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7341
Epoch 10/50
804/804 [==============================] - 1s 919us/step - loss: 0.5417 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 1s 928us/step - loss: 0.5410 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 1s 973us/step - loss: 0.5401 - accuracy: 0.7348
Epoch 13/50
804/804 [==============================] - 1s 977us/step - loss: 0.5399 - accuracy: 0.7368
Epoch 14/50
804/804 [==============================] - 1s 945us/step - loss: 0.5400 - accuracy: 0.7364
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7370
Epoch 16/50
804/804 [==============================] - 1s 946us/step - loss: 0.5386 - accuracy: 0.7367
Epoch 17/50
804/804 [==============================] - 1s 999us/step - loss: 0.5385 - accuracy: 0.7375
Epoch 18/50
804/804 [==============================] - 1s 969us/step - loss: 0.5378 - accuracy: 0.7369
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7376
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7387
Epoch 21/50
804/804 [==============================] - 1s 912us/step - loss: 0.5369 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 24/50
804/804 [==============================] - 1s 956us/step - loss: 0.5359 - accuracy: 0.7392
Epoch 25/50
804/804 [==============================] - 1s 966us/step - loss: 0.5359 - accuracy: 0.7390
Epoch 26/50
804/804 [==============================] - 1s 996us/step - loss: 0.5354 - accuracy: 0.7393
Epoch 27/50
804/804 [==============================] - 1s 946us/step - loss: 0.5350 - accuracy: 0.7383
Epoch 28/50
804/804 [==============================] - 1s 989us/step - loss: 0.5352 - accuracy: 0.7395
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7378
Epoch 30/50
804/804 [==============================] - 1s 937us/step - loss: 0.5346 - accuracy: 0.7392
Epoch 31/50
804/804 [==============================] - 1s 987us/step - loss: 0.5344 - accuracy: 0.7395
Epoch 32/50
804/804 [==============================] - 1s 993us/step - loss: 0.5339 - accuracy: 0.7393
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7396
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 35/50
804/804 [==============================] - 1s 949us/step - loss: 0.5335 - accuracy: 0.7400
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7402
Epoch 37/50
804/804 [==============================] - 1s 952us/step - loss: 0.5330 - accuracy: 0.7395
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7410
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7392
Epoch 40/50
804/804 [==============================] - 1s 965us/step - loss: 0.5325 - accuracy: 0.7407
Epoch 41/50
804/804 [==============================] - 1s 927us/step - loss: 0.5323 - accuracy: 0.7413
Epoch 42/50
804/804 [==============================] - 1s 974us/step - loss: 0.5318 - accuracy: 0.7399
Epoch 43/50
804/804 [==============================] - 1s 984us/step - loss: 0.5322 - accuracy: 0.7406
Epoch 44/50
804/804 [==============================] - 1s 995us/step - loss: 0.5323 - accuracy: 0.7402
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7408
Epoch 46/50
804/804 [==============================] - 1s 977us/step - loss: 0.5312 - accuracy: 0.7411
Epoch 47/50
804/804 [==============================] - 1s 917us/step - loss: 0.5317 - accuracy: 0.7415
Epoch 48/50
804/804 [==============================] - 1s 985us/step - loss: 0.5317 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 1s 957us/step - loss: 0.5312 - accuracy: 0.7411
Epoch 50/50
804/804 [==============================] - 1s 948us/step - loss: 0.5311 - accuracy: 0.7412

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE